<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genJavaMapperPath" value="$PROJECT_DIR$/src/main/java/com/springmvc/dao" />
        <option name="genMapperXmlPath" value="$PROJECT_DIR$/src/main/java/com/springmvc/service/impl" />
        <option name="genServiceInterfacePath" value="$PROJECT_DIR$/src/main/java/com/springmvc/service" />
        <option name="genServicePath" value="$PROJECT_DIR$/src/main/java/com/springmvc/service/impl" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/com/springmvc/sql" />
      </ProjectProfile>
    </option>
  </component>
</project>